/*在写html之前，将页面的默认内外边距清除，要的时候再自己设置。设置默认字体大小*/
*{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}
#container{
    width: 500px;
    height: 400px;
    border: 1px solid #A5A4A5;
    /*让container再浏览器中左右居中,container是块级标签有宽度，margin：auto*/
    margin: auto;
}
#container h1{
    border-bottom: 1px solid #A5A4A5;
    padding: 30px 0px 30px 80px;
    background: #F4F4F4 url("../images/login.gif") no-repeat 30px center;
}

#container2 div{
    border-bottom: 1px solid #A5A4A5;
    height: 60px;
}
#container2 p{
    margin: 25px auto auto 50px;
}
.user{
    display: inline-block;
    width: 90px;
    text-align: right;
}
.userInput{
    width: 180px;
}
#container2 p a{
    font-size: 0.8em;
}
.loginbtn{
    width: 100px;
    height: 33px;
    background: url("../images/bt.gif");
    border: none;
}
.loginbtn:nth-of-type(2){
    margin-left: 100px;
}
#container>div:nth-of-type(2){
    height: 55px;
    text-align: center;
    line-height: 55px;
    background-color: #F4F4F4;
}